* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;

  font-smooth: always;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 18px;
}

body {
  background-color: #fffee6;
  color: #5200b7;
  margin: 0% 14%;
}

h4 {
  font-size: 1rem;
}

h3 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin: 2rem 1.5rem;
}

a {
  text-decoration: none;
  color: #5200b7;
}

img {
  border: none;
  border-radius: 18px;
  height: 18rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.stickyLogo {
  margin: 2rem auto;
  padding: 4px;
  border-radius: 6px;
  position: relative;
  top: 0%;
  left: 0%;
  z-index: 1;

  cursor: pointer;
  border: 2px solid #d0fe00;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.holdnav {
  display: flex;
}
