* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;

  font-smooth: always;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fffee6;
  color: #5200b7;
  margin: 0% 14%;
}

h4 {
  font-size: 1rem;
}

h3 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin: 2rem 1.5rem;
}

a {
  color: aquamarine;
}